<h1>Potions</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Effect</th>
      <th>Potency</th>
    </tr>
  </thead>
  <tbody>
    <% @potions.each do |potion| %>
      <tr>
        <td><%= link_to potion.name, potion_path(potion) %></td>
        <td><%= potion.description %></td>
        <td><%= potion.user.username %></td>
        <td><%= potion.effect %></td>
        <td><%= potion.potency_level %></td>
      </tr>
    <% end %>
  </tbody>
</table>
