<h1><%= @potion.name %></h1>
<img src="<%= @potion.display_image_url %>" alt="" height="400px">
<h2>Potion Information</h2>
<p>Potency: <%= @potion.potency_level %> / 10</p>
<p>Effect: <%= @potion.effect %></p>
<% if user_is_current_user?(@potion.user) %>
  <%= button_to "Edit #{@potion.name}", edit_potion_path(@potion), method: :get %>
  <%= button_to "Delete #{@potion.name}", potion_path(@potion), method: :delete%>
<% end %>
<h3>Description</h3>
<p><%= @potion.description %></p>
<h3>Ingredients</h3>
<% if @potion.potion_ingredients.any? %>
  <ul>
    <% @potion.potion_ingredients.each do |potion_ingredient| %>
      <li>
        <%= potion_ingredient.quantity %> of <%= link_to potion_ingredient.ingredient.name, ingredient_path(potion_ingredient.ingredient) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Ingredients for this Potion</p>
<% end %>
<h3>Created By</h3>
<p><%= link_to @potion.user.username, user_path(@potion.user) %></p>
<hr>
<h2>Reviews</h2>
<% if @potion.reviews.any? %>
  <p>Overall Rating: <%= @potion.overall_rating %> / 5</p>
  <%= render 'reviews/review_list', reviews: @potion.reviews.most_recent %>
  <p><%= link_to 'See All Reviews', potion_reviews_path(@potion) %></p>
<% else %>
  <p>No Reviews for this Potion</p>
<% end %>
