<%= form_with(local: true, model: @user, **(defined?(path_for_form) ? { url: path_for_form } : {})) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="mb-3 row">
      <%= f.label :username, class: "form-label" %>
      <%= f.text_field :username, class:"form-control" %>
      <% unless @user.errors[:username].empty?%>
        <ul>
          <% @user.errors[:username].each do |error|  %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end  %>
    </div>
  </div>
  <div>
    <div class="mb-3 row">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class:"form-control" %>
      <% unless @user.errors[:password].empty?%>
        <ul>
          <% @user.errors[:password].each do |error|  %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end  %>
    </div>
    <% if include_confirmation %>
      <div class="mb-3 row">
        <%= f.label :password_confirmation, class: "form-label" %>
        <%= f.password_field :password_confirmation, class:"form-control" %>
        <% unless @user.errors[:password_confirmation].empty?%>
          <ul>
            <% @user.errors[:password_confirmation].each do |error|  %>
              <li><%= error %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= f.submit submit_text, class: "btn btn-primary btn-lg" %>
<% end %>
