<%= form_with(local: true, model: @user, **(defined?(path_for_form) ? { url: path_for_form } : {})) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <% unless @user.errors[:username].empty?%>
      <ul>
        <% @user.errors[:username].each do |error|  %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end  %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <% unless @user.errors[:password].empty?%>
      <ul>
        <% @user.errors[:password].each do |error|  %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end  %>
    <% if include_confirmation %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <% unless @user.errors[:password_confirmation].empty?%>
        <ul>
          <% @user.errors[:password_confirmation].each do |error|  %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end  %>
    <% end %>
  </div>
  <%= f.submit submit_text %>
<% end %>
