<div class="table-responsive">
  <table class="table table-dark table-hover align-middle">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rarity</th>
        <th colspan="2" class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= link_to ingredient.name, ingredient_path(ingredient), class: "link-light" %></td>
          <td><%= ingredient.description %></td>
          <td><%= ingredient.rarity %></td>
          <td class="text-center">
            <%= button_to('Edit', edit_ingredient_path(ingredient), method: :get, class:'btn btn-light btn-sm') %>
          </td>
          <td class="text-center">
            <%= button_to('Delete', ingredient_path(ingredient), method: :delete, class:'btn btn-light btn-sm') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
